@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
.main_beer-content{
    -webkit-box-shadow:inset 0 0 666px 0 #000000;
    box-shadow:inset 0 0 666px 0 #000000;
}
.beer-container{
    /* position: relative; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    /* background-color:  */
    /* -webkit-box-shadow:inset 0 0 666px 0 #000000;
    box-shadow:inset 0 0 666px 0 #000000; */
}

.beer-item{
    flex-flow: row wrap;
    align-items: baseline;
    /* padding: 20px; */
    width:100%;
    height: 25%;
    justify-content: space-around;
    font-family: Tahoma, sans-serif;
    margin-bottom: 45px;
    margin-left: 10px
}
.beer-item h5{
    margin: 0;
}

.beer-item h2{
    letter-spacing: 1.5px;
    font-family: 'Rock Salt', tahoma, sans-serif;
    position: center;

}
.beer_item-img{
    height: 200px;
    width: 200px;
    float: left;
    padding-right: 5px;
}

/* Information on the right */
.information-right{
    float: right;
    width: 30vw;
    font-family: 'Rock Salt', tahoma, sans-serif;
    letter-spacing: 2px;
    margin-right: 10px;
}
.pouring-hours h2{
    padding-left:10px;
}
.tap-beers h2{
    padding-left:10px;
}
/* Pouring Hours */
.pouring-hours{
    color: #3e3d3d;
    float: right;
    margin-top: 15px;
    padding-right: 20%;
    padding-top: 0;
    font-family: 'Rock Salt', tahoma, sans-serif;
    letter-spacing: 2px;
    -webkit-box-shadow: 0 0 11px 2px #3e3d3d;
    box-shadow: 0 0 11px 2px #3e3d3d;
}
.hours-list{
    padding-left: 0;
}
ul{
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 0; */
}

/* Beer Tap List */
#tap-beers{
    color: #3e3d3d;
    float: right;
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    padding-right: 25px;
    /* padding-top: 10%; */
    font-family: 'Rock Salt', tahoma, sans-serif, bold;
    letter-spacing: 2px;
    -webkit-box-shadow: 0 0 11px 2px #3e3d3d;
    box-shadow: 0 0 11px 2px #3e3d3d;
}
.on_tap-list{
    padding-left: 0;
    padding-top: 0;
}

