.custom-overlay{
    background: rgba(0, 0, 0, 0.75);
}

.custom-modal {
    display:flex;
    background: #fff;
    max-width: 70%;
    width: 100%;
    flex-flow: column wrap;
    /* max-height: 90%; */
    overflow: hidden;
  }