 @import url('https://fonts.googleapis.com/css?family=Patua+One');

.main_store-content{
    -webkit-box-shadow:inset 0 0 666px 0 #000000;
    box-shadow:inset 0 0 666px 0 #000000;
}
.storefront-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}

 .product-img{
    height: 200px;
    width: 200px;
    object-fit: scale-down;
}

.storefront-container h3 {
    font-size: 24px;
} 

.product-container{
    flex-flow: row wrap;
    align-items: baseline;
    padding: 20px;
    width: 30%;
    height: 25%;
    justify-content: space-around;
    font-family: 'Patua One', sans-serif, tahoma;
}
.category-container{
    width: 100vw;
    display: flex;
}

.categories{
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Patua One', sans-serif, tahoma;
    padding-left: 20px;
}
.clear-cart{
    position: absolute;
    bottom: 12px;
    left: 170px;
    font-family: Tahoma, sans-serif;
    line-height: 15px;
    color: black;
}
.clear-cart:hover{
    cursor: pointer;
}
.cart_open-container{
    display: flex;
    width: 50vw;
    flex-direction: row-reverse;
    cursor: pointer;
    align-self: center;
    font-family: 'Patua One', sans-serif, tahoma;
    letter-spacing: 1px;
    padding-right: 3vw;
    transition: height 1s ease-in;
    overflow: hidden;
}

.dropDown-items{
    border-radius: 3px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 0;
    width: 30vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0px 8px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.cartMenu-img{
    padding: 5px 0px 5px 0px;
    width: 50px;
    height: 50px;
}

.addToCartBtn{
    -webkit-box-shadow:inset 0 0 2px 0 #000000;
    box-shadow:inset 0 0 0px 0 #18121248;
    border-radius: 5px;
}

.checkoutBtn{
    display: inline-block;
    align-self: flex-end;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    bottom: 5px;
    right: 10px;

}

.totalPrice{
    font-family: 'tahoma', sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 8px;
    left: 10px;
}

.bottom-of-cart{
    position: flex;
    width: 100%
}

/* .topCart{
    width:100%;
    height: 100%;
    overflow: hidden;
} */
/* 
.bottomCart{
    width: 100%;
    height:40px;
} */

.cart-container{
    display: flex;
    width: 50vw;
    height:auto;
    flex-direction: row-reverse;
    transition: height 1s ease-out;
    overflow: hidden;
}

.cart-summary{
    cursor: pointer;
    align-self: center;
    font-family: 'Patua One', sans-serif, tahoma;
    letter-spacing: 1px;
    padding-right: 3vw;
}

.cart-summary:hover{
    color:#cc9d2a;
}

.categories > :hover{
    color: #cc9d2a;
}

.spacer{
    width:100vw;
    height: 15vh;

}

.cartMenu-container {
    margin-bottom: 20px;
    padding: 1%;
    display:flex;
    width: 100%;
    align-items: center;
}

.cartItemQuantity{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCart{
    margin-left: 10px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
}

.subFromCart{
    margin-left: 10px;
    font-family: tahoma, sans-serif;
    font-weight: bold;
}

.removeItem{
    height: 15px;
    width: 75px;
    margin-left: 10px;
}
.addToCart, .subFromCart:hover{
    cursor: pointer;
}
